.chat{
    background: linear-gradient(#78B3CE, #C9E6F0);
    height: 100vh;
    display: grid;
    place-items: center;
    /* border: 2px solid salmon; */
}

.chat-container{
    /* border: 2px solid tomato; */
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /* width: 97%; */
    width: 100%;
    max-width: 1400px;
    height: 100vh;
    background-color: aliceblue;
}